# Node modules
node_modules/

# Env files
.env
.env.* 

# Logs
logs
*.log
npm-debug.log*

#created by extensions for mysql db communication
.vscode/

# Process files
pids
*.pid
*.seed

# OS junk
.DS_Store

# Build
dist/
